<% if @user.errors.any? %>
  <div id="erroe_explanation">
    <div class="alert alert-error">
      有 <%= @user.errors.count %> 处错误导致无法注册
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li>  <%= msg %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
